<ion-header>
  <ion-toolbar>
    <ion-title>Listar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="upload()">Backup</ion-button>
  <ion-button (click)="download()">Restore</ion-button>
  <ion-accordion-group>
    <ion-accordion 
      [value]="d.site" *ngFor="let d of data">
      <ion-item slot="header" color="light">
        <ion-label>{{ d.site }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>Login: <strong>{{ d.login }}</strong></p>
        <input [type]="pass_type" [value]="d.senha" />
          <ion-icon 
            class="eye" 
            slot="icon-only" 
            [name]="icon_type"
            (click)="exibir()">
          </ion-icon>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
